* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.msgBox {
  font-size: 1.5rem;
  color: yellow;
}
.thatgret {
    color: yellow;
}
#input {

    height: 3vw;
     width: 10vw;
     text-align: center;
     border: 2px  dotted blue;
    border-top-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}
#input::placeholder{
  font-size: 1rem;
  color: black;
}

#checkbtn{
  height: 2.5vw;
  width: 6vw;
  /* border-radius: 3vw; */
  cursor: pointer;
  margin-left: 2vw;
  border:2px solid yellow;
  background-color: red;
  color: aliceblue;
  border-bottom-left-radius: 2vw;
    border-top-right-radius: 2vw;
}
.box {
  background: #0C0C0C;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 50%;
  padding: auto;
}

form {
  margin-top: 30px
}

@media (max-width:700px) {
  .container {
    height: 100vh;
    width: 100vw;
    
  }
  .box {
    height: 100%;
    width: 100%;
  }
  #checkbtn {
    height: 10vw;
    width: 20vw;
    font-size: 5vw;
      border-bottom-left-radius: 2vw;
    border-top-right-radius: 2vw;
  }
  #input {
    height: 15vw;
     width: 40vw;
     font-size: 10vw;
     color: black;
         border-top-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}
  .msgBox{
    font-size: 8vw;
    width: 90%;
    text-align: center;
  }
}